
/* FONT FAMILY */
/* FONT FAMILY */
/* FONT FAMILY */
.ff-bebas{
    font-family: var(--font-family-bebas-neue);
}
.ff-mono{
    font-family: var(--font-family-monospace);
}

.c-dark1{
    color: var(--color-suanggi-dark1);
}
.bg-dark1{
    background-color: var(--bg-suanggi-dark1);
}