/*font-weight*/
/*font-weight*/
/*font-weight*/
.fw-normal{
    font-weight:normal!important;
}
.fw-bold{
    font-weight:bold!important;
}
.fw-bolder{
    font-weight:bolder!important;
}
.fw-lighter{
    font-weight:lighter!important;
}
.fw-100{
    font-weight:100!important;
}
.fw-200{
    font-weight:200!important;
}
.fw-300{
    font-weight:300!important;
}
.fw-400{
    font-weight:400!important;
}
.fw-500{
    font-weight:500!important;
}
.fw-600{
    font-weight:600!important;
}
.fw-700{
    font-weight:700!important;
}
.fw-800{
    font-weight:800!important;
}
.fw-900{
    font-weight:900!important;
}
.fw-initial{
    font-weight:initial!important;
}

.pd-w{padding: 12px 24px;}
.mrg{padding: 24px 12px;}

.pdl-2{padding-left: 2!important;}
.pdl-4{padding-left: 4!important;}
.pdl-6{padding-left: 6!important;}
.pdl-8{padding-left: 8!important;}
.pdl-10{padding-left: 10!important;}
.pdl-12{padding-left: 12!important;}
.pdl-14{padding-left: 14!important;}
.pdl-16{padding-left: 16!important;}
.pdl-18{padding-left: 18!important;}
.pdl-20{padding-left: 20!important;}
.pdl-22{padding-left: 22!important;}
.pdl-24{padding-left: 24!important;}
.pdl-26{padding-left: 26!important;}
.pdl-28{padding-left: 28!important;}
.pdl-30{padding-left: 30!important;}
.pdl-32{padding-left: 32!important;}
.pdl-34{padding-left: 34!important;}
.pdl-36{padding-left: 36!important;}
.pdl-38{padding-left: 38!important;}
.pdl-40{padding-left: 40!important;}

.pdr-2{padding-right: 2!important;}
.pdr-4{padding-right: 4!important;}
.pdr-6{padding-right: 6!important;}
.pdr-8{padding-right: 8!important;}
.pdr-10{padding-right: 10!important;}
.pdr-12{padding-right: 12!important;}
.pdr-14{padding-right: 14!important;}
.pdr-16{padding-right: 16!important;}
.pdr-18{padding-right: 18!important;}
.pdr-20{padding-right: 20!important;}
.pdr-22{padding-right: 22!important;}
.pdr-24{padding-right: 24!important;}
.pdr-26{padding-right: 26!important;}
.pdr-28{padding-right: 28!important;}
.pdr-30{padding-right: 30!important;}
.pdr-32{padding-right: 32!important;}
.pdr-34{padding-right: 34!important;}
.pdr-36{padding-right: 36!important;}
.pdr-38{padding-right: 38!important;}
.pdr-40{padding-right: 40!important;}


.pdt-2{padding-top: 2!important;}
.pdt-4{padding-top: 4!important;}
.pdt-6{padding-top: 6!important;}
.pdt-8{padding-top: 8!important;}
.pdt-10{padding-top: 10!important;}
.pdt-12{padding-top: 12!important;}
.pdt-14{padding-top: 14!important;}
.pdt-16{padding-top: 16!important;}
.pdt-18{padding-top: 18!important;}
.pdt-20{padding-top: 20!important;}
.pdt-22{padding-top: 22!important;}
.pdt-24{padding-top: 24!important;}
.pdt-26{padding-top: 26!important;}
.pdt-28{padding-top: 28!important;}
.pdt-30{padding-top: 30!important;}
.pdt-32{padding-top: 32!important;}
.pdt-34{padding-top: 34!important;}
.pdt-36{padding-top: 36!important;}
.pdt-38{padding-top: 38!important;}
.pdt-40{padding-top: 40!important;}

.pdb-2{padding-bottom: 2!important;}
.pdb-4{padding-bottom: 4!important;}
.pdb-6{padding-bottom: 6!important;}
.pdb-8{padding-bottom: 8!important;}
.pdb-10{padding-bottom: 10!important;}
.pdb-12{padding-bottom: 12!important;}
.pdb-14{padding-bottom: 14!important;}
.pdb-16{padding-bottom: 16!important;}
.pdb-18{padding-bottom: 18!important;}
.pdb-20{padding-bottom: 20!important;}
.pdb-22{padding-bottom: 22!important;}
.pdb-24{padding-bottom: 24!important;}
.pdb-26{padding-bottom: 26!important;}
.pdb-28{padding-bottom: 28!important;}
.pdb-30{padding-bottom: 30!important;}
.pdb-32{padding-bottom: 32!important;}
.pdb-34{padding-bottom: 34!important;}
.pdb-36{padding-bottom: 36!important;}
.pdb-38{padding-bottom: 38!important;}
.pdb-40{padding-bottom: 40!important;}

.pd-tb10{padding: 10px 0px !important;}
.pd-tb20{padding: 20px 0px !important;}
.pd-tb30{padding: 30px 0px !important;}
.pd-tb40{padding: 40px 0px !important;}
.pd-tb50{padding: 50px 0px !important;}
.pd-tb60{padding: 60px 0px !important;}
.pd-tb70{padding: 70px 0px !important;}
.pd-tb80{padding: 80px 0px !important;}
.pd-tb90{padding: 90px 0px !important;}
.pd-tb100{padding: 100px 0px !important;}


.mrgb-2{margin-bottom: 2!important;}
.mrgb-4{margin-bottom: 4!important;}
.mrgb-6{margin-bottom: 6!important;}
.mrgb-8{margin-bottom: 8!important;}
.mrgb-10{margin-bottom: 10!important;}
.mrgb-12{margin-bottom: 12!important;}
.mrgb-14{margin-bottom: 14!important;}
.mrgb-16{margin-bottom: 16!important;}
.mrgb-18{margin-bottom: 18!important;}
.mrgb-20{margin-bottom: 20!important;}
.mrgb-22{margin-bottom: 22!important;}
.mrgb-24{margin-bottom: 24!important;}
.mrgb-26{margin-bottom: 26!important;}
.mrgb-28{margin-bottom: 28!important;}
.mrgb-30{margin-bottom: 30!important;}
.mrgb-32{margin-bottom: 32!important;}
.mrgb-34{margin-bottom: 34!important;}
.mrgb-36{margin-bottom: 36!important;}
.mrgb-38{margin-bottom: 38!important;}
.mrgb-40{margin-bottom: 40!important;}

.f1{font-size: 1px !important;}
.f2{font-size: 2px !important;}
.f3{font-size: 3px !important;}
.f4{font-size: 4px !important;}
.f5{font-size: 5px !important;}
.f6{font-size: 6px !important;}
.f7{font-size: 7px !important;}
.f8{font-size: 8px !important;}
.f9{font-size: 9px !important;}
.f10{font-size: 10px !important;}
.f11{font-size: 11px !important;}
.f12{font-size: 12px !important;}
.f13{font-size: 13px !important;}
.f14{font-size: 14px !important;}
.f15{font-size: 15px !important;}
.f16{font-size: 16px !important;}
.f17{font-size: 17px !important;}
.f18{font-size: 18px !important;}
.f19{font-size: 19px !important;}
.f20{font-size: 20px !important;}


.lh2{line-height: 2px !important;}
.lh4{line-height: 4px !important;}
.lh6{line-height: 6px !important;}
.lh8{line-height: 8px !important;}
.lh10{line-height: 10px !important;}
.lh12{line-height: 12px !important;}
.lh14{line-height: 14px !important;}
.lh16{line-height: 16px !important;}
.lh18{line-height: 18px !important;}
.lh20{line-height: 20px !important;}
.lh22{line-height: 22px !important;}
.lh24{line-height: 24px !important;}
.lh26{line-height: 26px !important;}
.lh28{line-height: 28px !important;}
.lh30{line-height: 30px !important;}
.lh32{line-height: 32px !important;}
.lh34{line-height: 34px !important;}
.lh36{line-height: 36px !important;}
.lh38{line-height: 38px !important;}
.lh40{line-height: 40px !important;}
