/*font-weight*/
/*font-weight*/
/*font-weight*/
.fw-normal{
    font-weight:normal!important;
}
.fw-bold{
    font-weight:bold!important;
}
.fw-bolder{
    font-weight:bolder!important;
}
.fw-lighter{
    font-weight:lighter!important;
}
.fw-100{
    font-weight:100!important;
}
.fw-200{
    font-weight:200!important;
}
.fw-300{
    font-weight:300!important;
}
.fw-400{
    font-weight:400!important;
}
.fw-500{
    font-weight:500!important;
}
.fw-600{
    font-weight:600!important;
}
.fw-700{
    font-weight:700!important;
}
.fw-800{
    font-weight:800!important;
}
.fw-900{
    font-weight:900!important;
}
.fw-initial{
    font-weight:initial!important;
}

.pd-w{padding: 12px 24px;}

.pdl-2{padding-left: 2!important;}
.pdl-4{padding-left: 4!important;}
.pdl-6{padding-left: 6!important;}
.pdl-8{padding-left: 8!important;}
.pdl-10{padding-left: 10!important;}
.pdl-12{padding-left: 12!important;}
.pdl-14{padding-left: 14!important;}
.pdl-16{padding-left: 16!important;}
.pdl-18{padding-left: 18!important;}
.pdl-20{padding-left: 20!important;}
.pdl-22{padding-left: 22!important;}
.pdl-24{padding-left: 24!important;}
.pdl-26{padding-left: 26!important;}
.pdl-28{padding-left: 28!important;}
.pdl-30{padding-left: 30!important;}
.pdl-32{padding-left: 32!important;}
.pdl-34{padding-left: 34!important;}
.pdl-36{padding-left: 36!important;}
.pdl-38{padding-left: 38!important;}
.pdl-40{padding-left: 40!important;}

.pdr-2{padding-right: 2!important;}
.pdr-4{padding-right: 4!important;}
.pdr-6{padding-right: 6!important;}
.pdr-8{padding-right: 8!important;}
.pdr-10{padding-right: 10!important;}
.pdr-12{padding-right: 12!important;}
.pdr-14{padding-right: 14!important;}
.pdr-16{padding-right: 16!important;}
.pdr-18{padding-right: 18!important;}
.pdr-20{padding-right: 20!important;}
.pdr-22{padding-right: 22!important;}
.pdr-24{padding-right: 24!important;}
.pdr-26{padding-right: 26!important;}
.pdr-28{padding-right: 28!important;}
.pdr-30{padding-right: 30!important;}
.pdr-32{padding-right: 32!important;}
.pdr-34{padding-right: 34!important;}
.pdr-36{padding-right: 36!important;}
.pdr-38{padding-right: 38!important;}
.pdr-40{padding-right: 40!important;}

.mrg{margin: 12px 24px;}