* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f7f7f7;
}



#aSide {
    height: 100%;
    width: 600px;
    position: absolute;
    top: calc(50% - 300px);
    right: 7%;
}

img,
model-viewer {
    height: 100%;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

#content {
    height: 500px;
    width: 700px;
    position: absolute;
    left: 12%;
    top: calc(50% - 250px);
}
