* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #f7f7f7;
}


#aSide {
    height: 600px;
    width: 100%;
    position: absolute;
}

#aSide model-viewer {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
}

